* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 26px;
  font-style: normal;
  text-transform: uppercase;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 19px;
  font-style: normal;
  text-transform: uppercase;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 17px;
  font-style: normal;
  text-transform: uppercase;
}

h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 13px;
  text-transform: uppercase;
}

/* h5 {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 1.5rem;
} */

p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.8rem;
  font-size: 16px;
}

a {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

main {
  margin: 0.7rem;
  margin-top: 65px;
}

body {
  background-color: #ffffff;
}

.details {
  font-size: 12px;
  font-weight: 300;
  color: #666666;
}

@media (min-width: 600px) {
  h1 {
    margin-top: 100px;
  }
}

@media (min-width: 800px) {
  main {
    margin: 0rem 10rem;
    margin-top: 80px;
  }

  .details {
    font-size: 14px;
  }

  p {
    line-height: 28px;
  }

  h1 {
    margin-top: 0;
    font-size: 36px;
  }

  h2 {
    font-weight: 500;
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 18px;
  }
}
