* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 26px;
  font-style: normal;
  text-transform: uppercase;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 23px;
  font-style: normal;
  text-transform: uppercase;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 17px;
  font-style: normal;
  text-transform: uppercase;
}

h5 {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 1.5rem;
}

main {
  margin: 0.7rem;
  margin-top: 65px;
}

body {
  background-color: #fffef9;
}

p {
  font-family: "Inter", sans-serif;
}

@media (min-width: 800px) {
  main {
    margin: 0rem 10rem;
    margin-top: 80px;
  }
}
