---
import Layout from "../layouts/Layout.astro";
---
<body>
    <Layout>
    <article class="forst">
        <img src="pics/about_img.png" alt="" class="about_1">
        <div class="text"><h1 class="overskrift">The story about Colada Archive</h1>
        <p class="about_text1">Colada Archive was founded by Emma Bauerfeind and Marie Nygaard in the summer of 2022 in Copenhagen. While preparing to attend a wedding, we found ourselves in the all-too-familiar dilemma: "What do I wear, and with which shoes?" Countless texts were exchanged as we envisioned the perfect vintage designer heels to complete our outfits. However, we quickly realized how challenging it was to find the right pair. The search for high-quality, unique, and stylish vintage heels felt overwhelming, and we knew we couldn't be the only ones facing this frustration. And thus, Colada Archive was born.
        </p>
        <div>
        </article>

    <article class="anden">
        <img src="pics/about_img2.png" alt="" class="about_2">
        <div class="text2"><h1 class="overskrift">Who are we?</h1>
        <p class="about_text2">We’ve known each other since our first day at university and quickly became best friends. Sharing the same values and aesthetics, and finding beauty in the same things, it was clear that we should start something together. With our backgrounds in the fashion industry and our studies in branding and communication at CBS, we had the ideal foundation to create Colada Archive. Our combined expertise and passion for vintage fashion have enabled us to curate a collection that reflects our shared vision and love for timeless, elegant designer heels.</p>
        </div>
    </article>
    </Layout>
</body>

<style>
.about_1, .about_2 {
    width: 100%;
    margin-top: 10px;
}

.about_text1, .about_text2 {
    margin-bottom: 40px;
    margin-top: 10px;
}

@media (min-width: 800px) {
    .forst, .anden {
     display: grid;
     grid-template-columns: 1fr 1fr;
     gap: 20px;
    }

    .text {
        order: 1;
    }

    .about_1 {
        order: 2;
    }

    .about_1, .about_2 {
        width: 100%;
        height: auto;
    }

.text, .text2 {
    margin-top: 100px;
}

}
</style>
