---
import Layout from "../layouts/Layout.astro";
import Cart_shoe from "../components/Cart_shoe.astro";

// // fetcher data - henter URL fra supabase, skriv  rest/v1/tabelnavn ALTID
const data = await fetch("https://ycttsezrvlztlajbkdxt.supabase.co/rest/v1/colada_archive_?cart=eq.checkout", {
    method: "GET",
    headers: {
        apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InljdHRzZXpydmx6dGxhamJrZHh0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTU5MzY2NjksImV4cCI6MjAzMTUxMjY2OX0.W2Dcw1gmLKcXLWOcWXBdxYBuBiVOjgi8xfwwII3329o"
    }
}
).then(res=>res.json());

console.log(data)
---


<Layout currentpage="cart">
<h1>Your cart</h1>
<a href="shoes" class="details">Continue shopping</a></li>

<br>

<div class="cart_info">
<p class="details">Product</p>
<p class="details">Price</p>
</div>
<hr>
{data.map((oneShoe)=>{return <Cart_shoe data={oneShoe} />})}

<hr>
<div class="samlet">
<h3 class="sub">Subtotal</h3>
<h3 class="samlet_pris">5700 DKK</h3>
</div>

<br>

<div class="checkbox_tac">
    <div class="checkbox-container">
            <input type="checkbox" id="round-checkbox" class="round-checkbox">
            <label for="round-checkbox" class="round-checkbox-label"></label>
    </div>
    <br>
    <p>I agree to terms and conditions</p>
</div>
<br>
<a class="box" href="/checkout">Check Out</a>

    </Layout>


    <style>

.samlet {
    display: flex;
    justify-content: space-between;
}
.cart_info {
    display: flex;
    justify-content: space-between;
}
a {
 text-decoration: underline;
}

.box {
    padding: 10px 40px;
    border: 1px solid #000; 
    text-decoration: none;
    color: #FFFEF9;
    background-color: #000;
    transition: background-color 0.3s, color 0.3s;
}

.box:hover {
    background-color: #FFFEF9;
    color: #000;
}

.checkbox-container {
    position: relative;
    margin-right: 10px;
}

.round-checkbox {
    display: none;
}

.round-checkbox-label {
    width: 20px;
    height: 20px;
    background-color: #FFFEF9;
    border: 2px solid #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    position: relative;
}

.round-checkbox-label::after {
    content: '';
    width: 5px;
    height: 10px;
    border: solid #000;
    border-width: 0 1.5px 1.5px 0;
    transform: rotate(45deg);
    opacity: 0;
    transition: opacity 0.3s;
    position: absolute;
}

.round-checkbox:checked + .round-checkbox-label::after {
    opacity: 1;
}

.checkbox_tac{
    display: flex;
    justify-content: flex-start;
}

hr {
    margin: 10px 0;
}

@media (min-width:800px){

    .box{
        display: flex;
        justify-content: center;
        margin-left: 715px;
    }
}

    </style>