---
import Layout from "../layouts/Layout.astro";
import Checkout_cart from "../components/Checkout_cart.astro";
import Button from "../components/Button.astro";


// // fetcher data - henter URL fra supabase, skriv  rest/v1/tabelnavn ALTID
const data = await fetch("https://ycttsezrvlztlajbkdxt.supabase.co/rest/v1/colada_archive_?cart=eq.checkout", {
    method: "GET",
    headers: {
        apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InljdHRzZXpydmx6dGxhamJrZHh0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTU5MzY2NjksImV4cCI6MjAzMTUxMjY2OX0.W2Dcw1gmLKcXLWOcWXBdxYBuBiVOjgi8xfwwII3329o"
    }
}
).then(res=>res.json());
---




<Layout>

<form action="/action_page.php">
        <h1>The last step</h1>
<section class="grid_2">
    <article class="col_1">

        <h2>Contact info</h2>

        <section class="input">
            <input type="email" id="email" name="email" placeholder="Email" />
        </section>

          <section class="tlf">
            <input type="tel" id="phone" name="telephone number" placeholder="Phone">
          </section>

          <h2>Shipping</h2>

          <section class="circular-checkbox-wrapper">
            <article class="circular-checkbox-container">
                <input type="checkbox" id="circularCheckbox1">
                <label for="circularCheckbox1"></label>
            </article>
            <span>Ship to</span>
        </section>
        <section class="circular-checkbox-wrapper">
            <article class="circular-checkbox-container">
                <input type="checkbox" id="circularCheckbox2">
                <label for="circularCheckbox2"></label>
            </article>
            <span>Pick up in Copenhagen</span>
        </section>


        <input list="countries" name="countries" placeholder="Country">
        <datalist id="countries">
          <option value="Austria">
          <option value="Belgium">
          <option value="Bulgaria">
          <option value="Croatia">
          <option value="Cyprus">
          <option value="Czehc Republic">
          <option value="Denmark">
          <option value="Estonia">
          <option value="Finland">
          <option value="France">
          <option value="Germany">
          <option value="Greece">
          <option value="Hungary">
          <option value="Ireland">
          <option value="Italy">
          <option value="Latvia">
          <option value="Lithuania">
          <option value="Luxemburg">
          <option value="Malta">
          <option value="Netherlands">
          <option value="Poland">
          <option value="Romania">
          <option value="Slovakia">
          <option value="Slovenia">
          <option value="Spain">
          <option value="Sweden">
        </datalist>

        <section class="input">
            <input type="text" id="name" name="name" placeholder="Full name" />
        </section>
          <section class="input">
            <input type="text" id="address" name="address" placeholder="Address" />
          </section>

          <section class="post_city">
          <article class="input">
            <input type="number" id="postal" name="postal" placeholder="Postal code" />
          </article>

          <article class="input">
            <input type="text" id="city" name="city" placeholder="City" />
          </article>
        </section>

          <section class="checkbox_tac">
            <article class="checkbox-container">
                    <input type="checkbox" id="round-checkbox" class="round-checkbox">
                    <label for="round-checkbox" class="round-checkbox-label"></label>
            </article>
            <p>Save this information for next time</p>
        </section>

        <h2>Payment</h2>

        <section class="input">
            <input type="number" id="card" name="message" placeholder="Card number" />
        </section>

        <section class="post_city">
          <article class="input">
            <input type="number" id="exp" name="message" placeholder="Exp. Date (DD/MM)" />
          </article>
          <article class="input">
            <input type="number" id="cvv" name="message" placeholder="Security code" />
          </article>
        </section>

          <section class="input">
            <input type="text" id="name_card" name="name" placeholder="Name on card" />
          </section>
    </article>

          <article class="col_2">

            <h2>In your cart</h2>

            {data.map((cartShoe)=>{return <Checkout_cart data={cartShoe} />})}

          <section class="discount-container">
            <input type="text" id="discount-code" placeholder="Enter discount code">
            <button id="apply-btn">Apply</button>
          </section>

        <section class="total">
            <h3>Shipping</h3>
            <h4>Free</h4>
        </section>
    
    <section class="total">
        <article class="sub">
    <h3>Subtotal</h3>
    <p class="details">Including 25% moms</p>
        </article>
    <h3>5.700,00 DKK</h3>
    </section>

    <Button variant="buy_now">Buy now</Button>
</section>

</form>
</Layout>


<style>

.total {
    display: flex;
    justify-content: space-between;
}
input::placeholder {
    text-transform: uppercase;
    font-family: 'poppins';
    color: #666666;
}


input {
    color:  #000;
    border: 0.5px solid black;
    background: #fffef9;
    padding: 1em 1.7em;
    max-width: 100%;
    width: 80%;
    margin-bottom: 1rem;
   
  }


.checkbox-container {
    position: relative;
    margin-right: 4px;
}

.round-checkbox {
    display: none;
}

.round-checkbox-label {
    width: 15px;
    height: 15px;
    background-color: #FFFEF9;
    border: 1px solid #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    position: relative;
}

.round-checkbox-label::after {
    content: '';
    width: 4px;
    height: 8px;
    border: solid #000;
    border-width: 0 1.5px 1.5px 0;
    transform: rotate(45deg);
    opacity: 0;
    transition: opacity 0.3s;
    position: absolute;
}

.round-checkbox:checked + .round-checkbox-label::after {
    opacity: 1;
}

.checkbox_tac{
    display: flex;
    justify-content: flex-start;
}

.circular-checkbox-wrapper {
    display: flex;
    align-items: center;
    border: 0.5px solid #000;
    padding: 0.8em 0.7em;
    margin-bottom: 1rem;
    width: 87.7%;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    color: #666666;
}

.circular-checkbox-container {
    display: flex;
    align-items: center;
    margin-right: 10px; /* Afstand mellem checkbox og tekst */
}

.circular-checkbox-container input[type="checkbox"] {
    display: none;
}

.circular-checkbox-container label {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 3px solid #000;
    position: relative;
    cursor: pointer;
}

.circular-checkbox-container input[type="checkbox"]:checked + label::after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.post_city{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#postal{
    width: 88%;
}

#city{
    width: 60%;
}

#exp{
    width: 68%;
}

#cvv{
    width: 60%;
}


.discount-container {
    display: flex;
    align-items: center;
}

#discount-code {
    padding: 10px;
    font-size: 16px;
    border: 0.5px solid black;
    outline: none;
    width: 200px;
    color: black;
    text-transform: uppercase;
    font-family: 'Poppins', Arial, sans-serif; /* Poppins skrifttype */
    width: 63%; 
}

#apply-btn {
    padding: 10px 20px;
    font-size: 16px;
    border: 0.5px solid black;
    background-color: black;
    color: white; 
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s, color 0.3s;
    text-transform: uppercase;
    font-family: 'Poppins', Arial, sans-serif; /* Poppins skrifttype */
    margin-bottom: 1rem;
}

#apply-btn:hover {
    background-color: #FFFEF9; 
    color: black; 
}

h2 {
    margin-top: 26px; 
    margin-bottom: 10px;
}


@media (min-width: 700px) {
    .circular-checkbox-wrapper {
        width: 84%;
    } 
}

@media (min-width: 800px){
    .grid_2{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    .circular-checkbox-wrapper {
        width: 90%;
    }

    .col_2 {
        width: 200px;
    }
}

@media (min-width: 870px) {
    .col_2 {
        width: auto;
    }
}


@media (min-width: 1000px){
    .circular-checkbox-wrapper {
        width: 88%;
    }
}

@media (min-width: 1100px){
    .circular-checkbox-wrapper {
        width: 87.5%;
    }
}

@media (min-width: 1200px){
    .circular-checkbox-wrapper {
        width: 85%;
    }
}

@media (min-width: 1600px){
    .circular-checkbox-wrapper {
        width: 84.2%;
    }
}


</style>