---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h2>CONTACT US</h2>

  <form action="/tak.astro">
    <div class="input">
      <input type="text" id="name" name="name" value="NAME" />
    </div>
    <div class="input">
      <input type="text" id="email" name="email" value="EMAIL" />
    </div>
    <div class="input">
      <input type="text" id="message" name="message" value="MESSAGE" />
    </div>
    <div id="sendknap">
      <input type="submit" value="SEND" />
    </div>
  </form>
</Layout>

<style>
  form {
    margin-top: 2rem;
  }
  input {
    color: #000;
    border: 1px solid #bfbfbf;
    background: #fffef9;
    padding: 1em 1.7em;
    max-width: 100%;
    width: 80%;
    margin-bottom: 1rem;
  }
  #sendknap input {
    margin-top: 2em;
    background: black;
    color: #fffef9;
    padding: 1em 1em;
  }
  @media (min-width: 800px) {
    input {
      width: 80%;
    }
  }
</style>
