---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>CONTACT US</h1>
  <section class="contact_us">

    <form action="tak">
      <article class="input">
        <input type="text" id="name" name="name" placeholder="Name" />
      </article>
      <article class="input">
        <input type="email" id="email" name="email" placeholder="Email" />
      </article>
      <article class="input">
        <input type="text" id="message" name="message" placeholder="Message" />
      </article>
      <article id="sendknap">
        <input type="submit" value="SEND" />
      </article>
    </form>
  </section>

  <p>
    You can also reach us via Instagram direct message <a href="https://www.instagram.com/colada_archive?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==">@colada_archive</a> or via
    our email <a href="mailto:coladaarchive@gmail.com">coladaarchive@gmail.com</a>
  </p>
</Layout>

<style>
  p {
    margin-bottom: 7rem;
    text-align: center;
  }

  input {
    color: #000;
    border: 1px solid black;
    background: #fffef9;
    padding: 1em 1.7em;
    /* max-width: 100%; */
    width: 86%;
    margin-bottom: 1rem;
  }

  input::placeholder {
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #666666;
  }

  #sendknap input {
    margin-top: 2em;
    background: #000;
    color: #fffef9;
    padding: 1em 1.7em;
    width: 100%;
  }
  #message {
    height: 70px;
  }

  .contact_us {
    margin: 0 auto;
    padding: 0 1em; /* Add padding for small screens */
  }

  @media (min-width: 800px) {

    h1 {
      text-align: center;
    }
    .contact_us {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0; /* Remove padding for larger screens */
    }

    form {
      width: 60%; /* Increase form width */
    }

    input {
      width: 93%; /* Ensure input fields take full width of form */
    }

    #sendknap input {
      width: 100%;
      transition: background-color 0.3s, color 0.3s;
    }

    #sendknap:hover input {
      background: #fffef9;
      color: #000;
      border: 1px solid #000;
    }
  }
</style>

