---
import Layout from "../layouts/Layout.astro";
---

<Layout>

  <div class="contact_us">
    <h1>CONTACT US</h1>
    <form action="tak">
      <div class="input">
        <input type="text" id="name" name="name" placeholder="Name" />
      </div>
      <div class="input">
        <input type="email" id="email" name="email" placeholder="Email" />
      </div>
      <div class="input">
        <input type="text" id="message" name="message" placeholder="Message" />
      </div>
      <div id="sendknap">
        <input type="submit" value="SEND" />
      </div>
    </form>
  </div>

  <p>
    You can also reach us via Instagram direct message <a href="https://www.instagram.com/colada_archive?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==">@colada_archive</a> or via
    our email <a href="mailto:coladaarchive@gmail.com">coladaarchive@gmail.com</a>
  </p>
</Layout>

<style>

  h1 {
    margin-top: 80px;
  }
  p {
    margin-bottom: 7rem;
    text-align: center;
  }

  a {
    text-decoration: none;
    color: #000;
  }

  a:hover {
    text-decoration: underline;
  }

  a:active {
    text-decoration: underline;
    color: #b2113c;
  }

  input {
    color: #000;
    border: 1px solid black;
    background: #fffef9;
    width: 100%;
    margin-bottom: 1rem;
    height: 30px;
  }

  input::placeholder {
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #666666;
    padding: 10px;
  }

  #sendknap input {
    background: #000;
    color: #fffef9;
    width: 100%;
  }

  #message {
    height: 70px;
  }

  .contact_us {
    margin: 0 auto;
    padding: 0 1em; /* Add padding for small screens */
  }

  @media (min-width: 800px) {

    h1 {
      margin-top: 0px;
    }
    .contact_us {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    form {
      width: 60%; /* Increase form width */
    }

    input {
      width: 100%; /* Ensure input fields take full width of form */
      height: 50px;
    }

    #sendknap input {
      width: 100%;
      transition: background-color 0.3s, color 0.3s;
    }

    #sendknap:hover input {
      background: #fffef9;
      color: #000;
      border: 1px solid #000;
    }
  }
</style>