---
import Layout from "../layouts/Layout.astro";
import Faqcard from "../components/Faqcard.astro";
---

<Layout>
    <h1>Frequently Asked Questions</h1>

    <div class="prove">
        <div class="faq_spg">
    <Faqcard 
        header="How can I place an order?"><p>You can place an order through Instagram by sending us a direct message (DM) on our profile [here](Link to Instagram), specifying which heels you are interested in.</p><hr>
    </Faqcard>
    <Faqcard 
        header="What is the return policy?"><p>We do not offer returns, but feel free to ask us anything about the shoes to ensure it’s the right match for you.</p><hr>
    </Faqcard>
    <Faqcard
    header="How can I track my order?"><p>We will send you a tracking number once the order has been dispatched.</p><hr>
    </Faqcard>
    <Faqcard
    header="Do you ship worldwide?"><p>Currently, we only ship within the EU. However, we hope to expand our shipping options to include worldwide delivery soon.</p><hr>
    </Faqcard>
    <Faqcard header="What are the available payment options?"><p>For Danish customers, we accept MobilePay. For international customers, we offer payment through bank transfer.</p><hr></Faqcard>
    <Faqcard header="How long will they last?"><p>As all of our items are vintage, they have lived a life before reaching your hands. With proper care, including visits to a shoemaker for maintenance and avoiding exposure to damaging elements like rain, your shoes can last for many years.</p><hr></Faqcard>
</div>
<div class="billede">
    <img src="/pics/2sko2.webp" alt="illustration af sko" class="mary">
</div>
</div>
</Layout>


<style>
.mary {
    width: 70%;
    margin: 50px auto 0; /* Auto margin til venstre og højre for at centrere billedet */
    display: block; /* Sørg for, at billedet vises som et blok-element */
}

hr {
    width: 80%;
    margin-top: 10px;
    border: none;
    height: 1px;
    background-color: #333;
}

.prove {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrerer indholdet vandret */
}

.faq_spg {
    width: 100%; /* Gør FAQ-sektionen bred */
    max-width: 800px; /* Sæt en maksimal bredde for FAQ-sektionen */
}

@media (min-width: 800px) {
    p {
        width: 61%;
    }

    .prove {
        flex-direction: row;
        align-items: flex-start; /* Justerer elementer til toppen */
    }

    .mary {
        width: 90%;
        margin: 50px; /* Justerer margin for bedre placering */
    }

    hr {
        width: 51%;
        margin-top: 10px;
    }
}
</style>

