---
import Layout from "../layouts/Layout.astro";
import Faqcard from "../components/Faqcard.astro";
---

<Layout>
    <h1>Frequently Asked Questions</h1>

    <Faqcard />
    <Faqcard />
    <Faqcard />
    <Faqcard />
    <Faqcard />
    <Faqcard />

</Layout>



