---
import Gridinsta from "../components/Gridinsta.astro";
import Layout from "../layouts/Layout.astro";
import Slide from "../components/Slide.astro";
---
<Layout>
<img src="pics/frontPicture.webp" alt="Billede af sko" class="forside_billede">
<h1 class="holy">the holy grail of vintage designer shoes</h1>
<p class="info">Colada Archive is a Copenhagen-based brand that specialize in curating vintage designer heels, handpicked for their quality, style, and timeless appeal. Each pair tells its own story, reflecting the elegance and craftsmanship of a bygone era. Our mission is to make finding the perfect vintage heels an effortless experience.</p>

<div class="forside_billeder_1">
	<img src="pics/sko_prove.png" alt="Billede af news sko" class="forside_1">
	<img src="pics/sko_prove.png" alt="Billede af news sko" class="forside_1">
	<img src="pics/sko_prove.png" alt="Billede af news sko" class="forside_1">
</div>

<h2 class="drop">View our latest drop</h2>

<Slide />

<h2 class="insta">Find us on Instagram</h2>
<Gridinsta />

</Layout>
</html>

<style>
	.forside_billede {
			width: 100%;
			margin-top: 10px;
	}

	.holy {
		margin-top: 15px;
	}

	.info {
		margin-right: 25%;
		margin-left: 26%;
	}

	.forside_billeder_1 {
	display: flex;
    justify-content: center;
	gap: 5px;

	}

	.forside_1 {
		width: 32.5%;
		margin-top: 50px;
	}

	.forside_logo {
		width: 100%;
		margin-top: 40px;
		margin-bottom: 40px;
	}

	.insta {
		color: #B2113C;
	}


	@media (min-width: 800px) {


		.holy {
			text-align: center;
			font-size: 30px;
		}


		.forside_billeder_1 {
			display: flex;
            justify-content: center; /* Centrerer vandret */
            align-items: center; /* Centrerer lodret */
			gap: 20px;
		}

.drop {
	margin-top: 20px;
}

.forside_logo {
	margin-top: 100px; 
	margin-bottom: 100px;
}

.insta {
	margin-left: 200px;
}
	}


</style>

