---
import Gridinsta from "../components/Gridinsta.astro";
import Layout from "../layouts/Layout.astro";
import Slide from "../components/Slide.astro";
import Button from "../components/Button.astro";
---

<Layout>
  <img src="pics/frontPicture.webp" alt="Picture of shoe" class="forside_billede"/>
  <h1 class="holy">The holy grail of vintage designer shoes</h1>

  <div class="forside_billeder_1">
    <div class="zoom">
    <a href="shoes"><img src="pics/produkter/silver1.webp" alt="Picture of latest drop shoes" class="forside_1" /></a>
    </div>

    <div class="zoom">
      <a href="shoes"><img src="pics/produkter/orange1.webp" alt="Picture of latest drop shoes" class="forside_1" /></a>
  </div>

  <div class="zoom">
    <a href="shoes"><img src="pics/produkter/snake1.webp" alt="Picture of latest drop shoes" class="forside_1" /></a>
  </div>

  </div>

  <a class="shoeclass" href="shoes">
    <div class="droparrow">
      <h2 class="drop">View our latest drop</h2>
      <img src="pics/icons/arrow.svg" alt="arrow" class="arrowclass" />
    </div>
  </a>

  <Slide />

  <img src="pics/logofinal.png" alt="Picture of logo" class="logo_middle">
  <p class="info">
    Colada Archive is a Copenhagen-based brand that specialize in curating
    vintage designer heels, handpicked for their quality, style, and timeless
    appeal. Each pair tells its own story, reflecting the elegance and
    craftsmanship of a bygone era. Our mission is to make finding the perfect
    vintage heels an effortless experience.
  </p>

  <h2 class="insta">Find us on Instagram</h2>
  <Gridinsta />
</Layout>

<style>

.arrowclass {
  margin-bottom: 35px;
}
  .logo_middle {
    width: 70%;
    margin: 0 auto;
  }

  .forside_billede {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 40px;
  }

  .holy {
    margin-top: 15px;
  }

  .forside_billeder_1 {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .forside_logo {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .info {
    margin-bottom: 3rem;
  }
  .arrowclass {
    width: 5%;
    height: auto;
    margin-left: 0.5rem;
  }

  .droparrow {
    display: flex;
    flex-direction: row;
  }

  .shoeclass {
    text-decoration: none;
    color: #333;
  }

  .shoeclass:hover {
    text-decoration: underline;
  }

  .shoeclass:active {
    color: #b2113c;
  }

  .insta {
    color: #b2113c;
  }

  @media (min-width: 550px) {
    .arrowclass {
      width: 3%;
      margin-top: 0.3rem;
    }
    .info{
      margin: 5% 10% 5% 10%;
    }
  }

  @media (min-width: 800px) {

    .logo_middle {
      display: none;
    }
    .holy {
      text-align: center;
      font-size: 36px;
      margin-bottom: 50px;
    }

    .arrowclass {
      width: 3%;
      margin-top: 1rem;
    }

    .drop {
      margin-top: 20px;
      margin-left: 10%;
    }

    .forside_logo {
      margin-top: 100px;
      margin-bottom: 100px;
    }

    .insta {
      margin-left: 14.5%;
    }
    .info {
      margin: 5% 15% 5% 15%
    }

    .forside_billeder_1{
      display: flex;
      justify-content: center; /* Centrerer vandret */
      align-items: center; /* Centrerer lodret */
      width: 80%;
      margin: 0 auto;
      gap: 1rem;
      margin-bottom: 2rem;
      overflow: hidden;
    }

    .forside_billeder_1 img{
      width: 100%;
      height: auto;
      object-fit: cover;
      transition: transform 0.3s ease;
    }

    .forside_billeder_1 img:hover{
      transform: scale(1.05);
    }

    .zoom{
      overflow: hidden;
      width: 100%;
    }


  }

  @media (min-width: 1200px) {
    .arrowclass {
      width: 2%;
    }

    .info {
      margin: 5% 20% 5% 20%
    }
  }

  
</style>
