---
import Layout from "../layouts/Layout.astro";
---
<Layout>
<img src="pics/forside_sko.png" alt="" class="forside_billede">
<h1 class="holy">the holy grail of vintage designer shoes</h1>

<div class="forside_billeder_1">
	<img src="pics/sko_prove.png" alt="" class="forside_1">
	<img src="pics/sko_prove.png" alt="" class="forside_1">
	<img src="pics/sko_prove.png" alt="" class="forside_1">
</div>

<h2 class="drop">View our latest drop</h2>

<img src="pics/logo1.png" alt="" class="forside_logo">

<h2 class="insta">Find us on Instagram</h2>

<div class="insta_grid">
	<img src="pics/insta1.png" alt="">
	<img src="pics/insta2.png" alt="">
	<img src="pics/insta3.png" alt="">
	<img src="pics/insta4.png" alt="">
	<img src="pics/insta5.png" alt="">
	<img src="pics/insta6.png" alt="">
	<img src="pics/insta2.png" alt="">
	<img src="pics/insta8.png" alt="">
	<img src="pics/insta9.png" alt="">
</div>

</Layout>
</html>

<style>

	.insta_grid {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
        justify-content: center; /* Centrerer vandret */
		gap: 10px;
	}

	.insta_grid img {
		width: 100%;
	}
	.forside_billede {
			width: 100%;
			margin-top: 10px;
	}

	.holy {
		margin-top: 15px;
	}

	.forside_billeder_1 {
		display: flex;

	}

	.forside_1 {
		width: 32.5%;
		margin-top: 50px;
	}

	.forside_logo {
		width: 100%;
		margin-top: 40px;
		margin-bottom: 40px;
	}

	.insta {
		color: #B2113C;
	}


	@media (min-width: 800px) {


		.holy {
			text-align: center;
			font-size: 30px;
			margin-top: 100px;
			margin-bottom: 100px;
		}


		.forside_billeder_1 {
			display: flex;
            justify-content: center; /* Centrerer vandret */
            align-items: center; /* Centrerer lodret */
			gap: 20px;
		}

.insta_grid {
	margin: 200px;
	margin-top: 20px;
}

.insta {
margin-left: 200px;
}

.drop {
	margin-top: 20px;
}

.forside_logo {
	margin-top: 100px; 
	margin-bottom: 100px;
}
	}


</style>

