---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1 class="jour">Our journal</h1>
  <div class="journal1 tolvkolonner">
    <img src="pics/style.webp" alt="Billede af en masse sko" />
    <div class="text1">
      <h2>How to style</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam.</p>
    </div>
  </div>

  <div class="journal2 tolvkolonner">
    <div class="grid_1">
      <img src="pics/poster.webp" alt="Picture of pop up poster" />
      <h2>Pop up</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam aliquam
        dapibus lorem.
      </p>
    </div>
    <div class="grid_2">
      <img
        src="pics/aboutimg2.webp"
        alt="Picture of the founders of Colada Archive"
      />
      <h2>founders</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam aliquam
        dapibus lorem.
      </p>
    </div>
  </div>

  <div class="journal3 tolvkolonner">
    <img
      src="pics/produkter/maryjaneOn.webp"
      alt="Picture of shoes from sex and the city"
    />
    <h2>Seen on Sex and the city</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam aliquam
      dapibus lorem.
    </p>
  </div>

  <div class="journal4">
    <div class="grid_3">
      <img src="pics/day.webp" alt="Picture of....." />
      <h2>A day out</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam aliquam
        dapibus lorem.
      </p>
    </div>
    <div class="grid_4">
      <img src="pics/night.webp" alt="Picture of ....." />
      <h2>A night out</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam aliquam
        dapibus lorem.
      </p>
    </div>
  </div>
</Layout>

<style>
  .journal1,
  .journal2,
  .journal3 {
    margin-bottom: 2rem;
  }
  /* .journal2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  } */

  .journal3 img {
    width: 100%;
    height: auto;
  }
  @media (min-width: 800px) {
    .tolvkolonner {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .journal1 {
      grid-column-start: 2;
      span: 5;
    }
    .journal2 {
    }
    .journal3 {
    }
  }
</style>
