---
import Layout from "../layouts/Layout.astro";
import Grid2 from "../components/Grid2.astro";
---

<Layout>
<h1 class="jour">Our journal</h1>

<img src="pics/style.webp" alt="Billede af en masse sko">

<h2>How to style</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam.</p>

<Grid2 />


<img src="pics/carrie.png" alt="Billede af Carrie Bradshaw">
<h1>Seen on Sex and the city</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam aliquam dapibus lorem.</p>

<Grid2 />

</div>
</Layout>

<style>
p {
        margin-bottom: 50px;
    }

</style>