---
import Layout from "../layouts/Layout.astro";
---

<Layout currentpage="journal">
  <h1 class="jour">Our journal</h1>
  
<a href="/nocontent" class="stylepic">
  <section class="journal1 tolvkolonner hover1">
    <img src="/pics/style.webp" alt="Picture of different shoes"/>
  <article class="text1">
      <a href="/nocontent">
      <h2>How to style</h2>
      <p>Socks or no socks? Dresses, skirts or jeans? See how to style your shoes for different occasions.</p>
      </article>
    </section>
</a>

<section class="journal2 tolvkolonner">
    <article class="grid_1">
      <section class="zoom">
      <a href="/nocontent">
        <img src="/pics/poster.webp" alt="Picture of pop up poster"/>
      </section>
        <h2>Pop up</h2>
        <p>Check out some of our pop up stores around Copenhagen. We love meeting our sweet customers.</p>
      </a>
    </article>

    <article class="grid_2">
      <section class="zoom">
      <a href="/nocontent">
      <img src="/pics/aboutimg2.webp" alt="Picture of the founders of Colada Archive"/>
      </section>
      <h2>The founders</h2>
      <p>
        Meet us and learn the story behind Colada Archive.
      </p>
    </a>
  </article>
</section>

<a href="/nocontent" class="sacpic">
  <section class="journal3 tolvkolonner">
    <img
      src="/pics/sac.webp" alt="Picture of sex and the city"/>
    <article class="sac">
      <a href="/nocontent">
    <h2>Seen on Sex and the city</h2>
    <p>
      The most iconic series with the most iconic shoes. See some of the styles Carrie Bradshaw herself wore.
    </p>
    </a>
  </article>
</section>
</a>

  <section class="journal4 tolvkolonner">
    <article class="grid_3">
      <section class="zoom">
      <a href="/nocontent">
      <img src="/pics/day.webp" alt="Picture of day outfit" />
      </section>
      <section>
      <h2>A day out</h2>
      <p>How to wear your heels all day and what to wear for the perfect "day out" outfit.</p>
    </section>
    </a>
  </article>
    <article class="grid_4">
      <section class="zoom">
         <a href="/nocontent">
      <img src="/pics/night.webp" alt="Picture of night outfit" />
         </section>
      <h2>A night out</h2>
      <p>
        How to make your outfit go from day to night. A basic "going out" fit with the perfect shoes to match.
      </p>
    </a>
  </article>
  </section>
</Layout>

<a href="#"></a>

<style>
  .journal1,
  .journal2,
  .journal3 {
    margin-bottom: 2rem;
  }
  .journal3 img {
    width: 100%;
    height: auto;
  }
.journal2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5%;
}

.journal4{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5%;
}

a{
  text-transform: none;
}

  @media (min-width: 800px) {
    .tolvkolonner {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      column-gap: 1rem;
      margin-bottom: 0;
    }

.sacpic, .stylepic, .zoom {
      overflow: hidden;
      width: 100%;
    }


    .stylepic img, .grid_1 img, .grid_2 img, .grid_3 img, .grid_4 img, .sacpic img{
      width: 100%;
      height: auto;
      object-fit: cover;
      transition: transform 0.3s ease;
    }

    .stylepic img:hover, .grid_1 img:hover, .grid_2 img:hover, .grid_3 img:hover, .grid_4 img:hover, .sacpic img:hover{
      transform: scale(1.05);
    }


    .stylepic{
      grid-column-start: 1;
      grid-column-end: 6;
    }

    .journal1{
      margin-bottom: 5rem;
    }
    .text1{
      grid-column-start: 6;
      grid-column-end: -1;
      align-self: end;
    }
    .grid_1{
      grid-column-start: 3;
      grid-column-end: 6;
    }
    .grid_2{
      grid-column-start: -1;
      grid-column-end: 6;
    }
    .journal3{
      margin-top: 5rem;
      grid-template-rows: 1fr 1fr;}

    .sacpic{
      grid-column-start: 2;
      grid-column-end: -2;
      grid-row-start: 1;
    }
    .sac{
      grid-column-start: 2;
      grid-column-end: 7;
      grid-row-start: 2;
      margin-bottom: 0;
    }

    .journal4{
      margin-top: 5rem;
    }

    .grid_3{
      grid-column-start: 1;
      grid-column-end: 4;
    }

    .grid_4{
      grid-column-start: 6;
      grid-column-end: -1;
    }
  }

  @media (min-width: 1200px){
    .journal3{
      margin-top: 5rem;
      grid-template-rows: 1fr;
    }
  }
  .journal3{
      margin-top: 5rem;
      grid-template-rows: 1fr;}
  .sac{
      grid-column-end: 5;
    }
</style>
