---
import Layout from "../layouts/Layout.astro";
import Show from "../components/Show.astro";
// // fetcher data - henter URL fra supabase, skriv  rest/v1/tabelnavn ALTID
const data = await fetch("https://ycttsezrvlztlajbkdxt.supabase.co/rest/v1/colada_archive_", {
    method: "GET",
    headers: {
        apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InljdHRzZXpydmx6dGxhamJrZHh0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTU5MzY2NjksImV4cCI6MjAzMTUxMjY2OX0.W2Dcw1gmLKcXLWOcWXBdxYBuBiVOjgi8xfwwII3329o"
    }
}
).then(res=>res.json());
---

<Layout currentpage="shoes">
        <h1>Shoes</h1>
<!-- <Filter /> -->




<section class="shows">
    {data
        .sort((a, b) => b.available - a.available) // Sorter skoene efter tilgængelighed
        .map(show => (
            <div class={`show-container ${show.available === 0 ? 'sold_out' : ''}`}>
                <Show data={show} />
                {show.available === 0 && <h4 class="sold-out-text">Sold out</h4>}
            </div>
        ))}
</section>


</Layout>

<style>

.sold_out {
    opacity: 0.5;
}

.show-container {
    position: relative;
    /* height: 300px; */
}

.sold-out-text {
    position: absolute;
    bottom: 115px;
    right: 0;
    margin: 0;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.8);
}
    .shows {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
.filter {
    margin-bottom: 30px;
}

/* @media (min-width: 400px){
    .show-container {
    height: 310px;
}  
} */

    @media (min-width: 800px){
        .shows {
            grid-template-columns: 1fr 1fr 1fr;
        }
        .filter {
    margin-bottom: 60px;
}

.sold-out-text {
    font-size: 17px;
}

/* .show-container {
    height: 580px;
} */
    }
</style>