---
import Layout from "../layouts/Layout.astro";
import Show from "../components/Show.astro";
// // fetcher data - henter URL fra supabase, skriv  rest/v1/tabelnavn ALTID
const data = await fetch("https://ycttsezrvlztlajbkdxt.supabase.co/rest/v1/colada_archive_", {
    method: "GET",
    headers: {
        apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InljdHRzZXpydmx6dGxhamJrZHh0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTU5MzY2NjksImV4cCI6MjAzMTUxMjY2OX0.W2Dcw1gmLKcXLWOcWXBdxYBuBiVOjgi8xfwwII3329o"
    }
}
).then(res=>res.json());
---

<Layout>
    <h1>Shoes</h1>
    <h3 class="filter">Filter +</h3>

    <section class="shows">
        {data.map(show=>{
    return <Show data={show} />;
        })}
    </section>

</Layout>

<style>
    .shows {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
.filter {
    margin-bottom: 30px;
}
    @media (min-width: 800px){
        .shows {
            grid-template-columns: 1fr 1fr 1fr;
        }
        .filter {
    margin-bottom: 60px;
}
    }
</style>