---
const { variant } = Astro.props;
---

<button class={variant} data-product="">
  <slot />
</button>

<style>
  button {
    padding: 10px 40px;
    border: 1px solid #000;
    text-decoration: none;
    color: #fffef9;
    background-color: #000;
    transition:
      background-color 0.3s,
      color 0.3s;
    text-transform: uppercase;
    cursor: pointer;
  }

  button:hover,
  .buy_now:hover {
    background-color: #fffef9;
    color: #000;
    border: 1px solid black;
  }

  .primary {
    background-color: #fffef9;
    color: #000;
  }

  .sold-out {
    background-color: #000;
    color: #fffef9;
  }

  .buy_now {
    background-color: #b2113c;
    color: white;
    width: 250px;
    height: 50px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 20px;
  }

  @media (min-width: 800px) {
    .buy_now {
      margin: 0px;
      margin-top: 20px;
    }
    .product {
      margin: 20px;
    }

    .cart {
      position: fixed;
      top: 62px;
      right: 15.5px;
      width: 200px;
      padding: 10px;
      background-color: #fffef9;
      border: 1px solid #ccc;
      opacity: 0;
      visibility: hidden;
      transition:
        opacity 0.5s,
        visibility 0.5s;
    }

    .cart.show {
      opacity: 1;
      visibility: visible;
    }

    #cart-items {
      list-style-type: none;
      padding: 0;
    }

    #cart-items li {
      padding: 5px 0;
    }

    #view-cart-btn {
      display: block;
      margin-top: 10px;
      padding: 10px;
      background-color: #fffef9;
      border: 1px solid black;
      cursor: pointer;
      text-align: center;
    }

    #view-cart-btn:hover,
    .sold-out:hover {
      background-color: black;
      color: #fffef9;
    }
  }
</style>
