---
const {variant} = Astro.props;
---


<button class={variant} data-product="">  
    <slot />
</button>



<style>
button{
    padding: 10px 40px;
    border: 1px solid #000; 
    text-decoration: none;
    color: #FFFEF9;
    background-color: #000;
    transition: background-color 0.3s, color 0.3s;
    text-transform: uppercase;
    cursor: pointer;
}

button:hover, .buy_now:hover{
    background-color: #FFFEF9;
    color: #000;
    border: 1px solid black;
}

.primary {
    background-color: #FFFEF9;
    color: #000;
}

.sold-out {
background-color: #000;
color: #FFFEF9;
}

.buy_now {
    background-color: #b2113c;
    color: white;
    width: 250px;
    height: 50px;
    border: none;
    display: flex;
    justify-content: center; /* Centrerer indholdet vandret */
    align-items: center; /* Centrerer indholdet lodret */
    margin: auto; /* Centrerer elementet i forhold til dets container */
    margin-top: 20px;
}


@media (min-width:800px){

    .buy_now {
margin: 0px;
margin-top: 20px;
}
.product {
    margin: 20px;
}

.cart {
    position: fixed;
    top: 62px; /* Flyt kurven længere ned */
    right: 15.5px;
    width: 200px;
    padding: 10px;
    background-color: #FFFEF9;
    border: 1px solid #ccc;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
}

.cart.show {
    opacity: 1;
    visibility: visible;
}

#cart-items {
    list-style-type: none; /* Fjern punktopstillinger */
    padding: 0; /* Fjern indvendig margen */
}

#cart-items li {
    padding: 5px 0; /* Tilføj eventuelt lidt polstring til list items */
}

#view-cart-btn {
    display: block;
    margin-top: 10px;
    padding: 10px;
    background-color: #FFFEF9;
    border: 1px solid black;
    cursor: pointer;
    text-align: center;
}

#view-cart-btn:hover, .sold-out:hover {
    background-color: black;
    color: #FFFEF9;
}
}

</style>

