---
const {variant} = Astro.props;
---


<button class={variant} data-product="">  
    <slot />
</button>



<style>
button {
    padding: 10px 40px;
    border: 1px solid #000; 
    text-decoration: none;
    color: #FFFEF9;
    background-color: #000;
    transition: background-color 0.3s, color 0.3s;
    text-transform: uppercase;
}

button:hover {
    background-color: #FFFEF9;
    color: #000;
}

.primary {
    background-color: #FFFEF9;
    color: #000;
}


@media (min-width:800px){

.product {
    margin: 20px;
}

.cart {
    position: fixed;
    top: 62px; /* Flyt kurven længere ned */
    right: 15.5px;
    width: 200px;
    padding: 10px;
    background-color: #FFFEF9;
    border: 1px solid #ccc;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
}

.cart.show {
    opacity: 1;
    visibility: visible;
}

#cart-items {
    list-style-type: none; /* Fjern punktopstillinger */
    padding: 0; /* Fjern indvendig margen */
}

#cart-items li {
    padding: 5px 0; /* Tilføj eventuelt lidt polstring til list items */
}

#view-cart-btn {
    display: block;
    margin-top: 10px;
    padding: 10px;
    background-color: #FFFEF9;
    border: 1px solid black;
    cursor: pointer;
    text-align: center;
}

#view-cart-btn:hover {
    background-color: black;
    color: #FFFEF9;
}
}

</style>

<script>
//    document.addEventListener('DOMContentLoaded', () => {
//     const addToCartButtons = document.querySelectorAll('.add-to-cart');
//     const cart = document.getElementById('cart');
//     const cartItems = document.getElementById('cart-items');
//     const viewCartBtn = document.getElementById('view-cart-btn');

//     addToCartButtons.forEach(button => {
//         button.addEventListener('click', () => {
//             const product = button.getAttribute('data-product');

//             // Tøm kurven før tilføjelse af nyt produkt
//             cartItems.innerHTML = '';

//             const listItem = document.createElement('li');
//             listItem.textContent = product;
//             cartItems.appendChild(listItem);

//             cart.classList.add('show');

//             // Fjern klassen 'show' efter 4 sekunder (4000 millisekunder)
//             setTimeout(() => {
//                 cart.classList.remove('show');
//             }, 20000);
//         });
//     });

//     // Event listener for "View Your Cart" button
//     viewCartBtn.addEventListener('click', () => {
//         // Handlingen, når knappen klikkes, fx navigering til en kurvside
//         window.location.href = '/cart'; // Ændr URL'en til din kurvside
//     });
// });

</script>
