---
const {data} = Astro.props;

---
<div class="cart_shoe">
    <div class="prove">
    <div class="cart_infos">    
        <img src="/pics/produkter/beigesnake.webp" alt="" class="cart_img">
    </div>
    <div class="cart_brand">
        <h4>Mary-Janes</h4>
        <h3>Manolo Blahnik</h3>
        <h4>Size: </h4>
    </div>
</div>

    <div class="cart_price">
        <h3>DKK 1900,-</h3>
    </div>
</div>

<style>
    .cart_img {
        width: 94%;
        height: auto;
    }

    .cart_shoe {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .cart_price {
        display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .cart_brand {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Aligns text to the left */
    margin: auto; /* Centers the cart_brand div horizontally */
  }

  .prove{
    display: flex;
  }

  @media (min-width: 800px) {
    .cart_img {
        width: 92%;
    }

.prove {
    display: flex;
flex-direction: row;
width: 60%;
}
  }
</style>