---
const {data} = Astro.props;
---


<div class="cart_shoe">
    <div class="cart_infos">    
        <img src="/pics/produkter/beigesnake.webp" alt="" class="cart_img">
    </div>
    <div class="cart_brand">
        <h4>Mary-Janes</h4>
        <h3>Manolo Blahnik</h3>
        <h4>Size: </h4>
        <h3>DKK 1900,-</h3>
    </div>
</div>



<style>

.cart_img {
    width: 92%;
}

.cart_shoe{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 12px 0;
}


</style>