---

---

<div class="container">
    <h2 class="toggle-header">Filter +</h2>
    <div class="toggle-content">
        <div class="type">
            <h2>Product type</h2>
            <h3>boots</h3>
            <h3>heels</h3>
            <h3>kitten heels</h3>
            <h3>mules</h3>
            <h3>slingbacks</h3>
        </div>
        <div class="sizes">
            <h2>Sizes eu</h2>
            <h3>37</h3>
            <h3>38</h3>
            <h3>39</h3>
            <h3>40</h3>
            <h3>41</h3>
        </div>
        <div class="brand">
            <h2>Brand</h2>
            <h3>celine</h3>
            <h3>chanel</h3>
            <h3>dior</h3>
            <h3>gucci</h3>
            <h3>jimmy choo</h3>
            <h3>manolo blahnik</h3>
            <h3>miu miu</h3>
            <h3>prada</h3>
        </div>
    </div>
</div>

<style>
    h2 {
        margin-top: 40px;
    }

    .toggle-content {
        display: none; /* Skjuler indholdet som standard */
        transition: max-height 0.3s ease-out;
        max-height: 0;
    }

    .toggle-content.show {
        display: block; /* Vis indholdet når det er aktivt */
        max-height: 500px; /* Tilpas denne værdi efter behov */
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .toggle-header.clicked {
        color: #B2113C; /* Skift farven til rød når klassen 'clicked' er tilføjet */
    }
</style>

<script>
document.addEventListener("DOMContentLoaded", function() {
    const headers = document.querySelectorAll(".toggle-header");

    headers.forEach(header => {
        header.addEventListener("click", function() {
            const content = this.nextElementSibling;
            const isVisible = content.classList.toggle("show");
            this.classList.toggle("clicked");

            // Skift teksten fra "+" til "-" og omvendt
            this.textContent = isVisible ? 'Filter -' : 'Filter +';
        });
    });
});



</script>