---

---

<article class="footer_text">
    <div class="left_column">
        <h3>Instagram</h3>
        <h3>Tiktok</h3>
        <h3>Email</h3>
    </div>

    <div class="right_column">
        <h3>Terms and conditions</h3>
        <h3>About us</h3>
        <h3>FAQ</h3>
    </div>
</article>

<style>
.footer_text{
    display: flex;
    justify-content: space-between;  
    }
.right_column {
    text-align: right;
}

</style>