---

---

<section class="insta_grid">
  <article class="image-container">
    <a
      href="https://www.instagram.com/colada_archive?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
      ><img src="pics/insta1.webp" alt="insta" class="image-normal" />
      <img src="pics/hoverinstagram.webp" alt="hover" class="image-hover" /></a
    >
  </article>
  <article class="image-container">
    <a
      href="https://www.instagram.com/colada_archive?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
      ><img src="pics/insta2.webp" alt="insta" class="image-normal" />
      <img src="pics/hoverinstagram.webp" alt="hover" class="image-hover" /></a
    >
  </article>
  <article class="image-container">
    <a
      href="https://www.instagram.com/colada_archive?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
      ><img src="pics/insta3.webp" alt="insta" class="image-normal" />
      <img src="pics/hoverinstagram.webp" alt="hover" class="image-hover" /></a
    >
  </article>
  <article class="image-container">
    <a
      href="https://www.instagram.com/colada_archive?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
      ><img src="pics/insta4.webp" alt="insta" class="image-normal" />
      <img src="pics/hoverinstagram.webp" alt="hover" class="image-hover" /></a
    >
  </article>
  <article class="image-container">
    <a
      href="https://www.instagram.com/colada_archive?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
      ><img src="pics/insta5.webp" alt="insta" class="image-normal" />
      <img src="pics/hoverinstagram.webp" alt="hover" class="image-hover" /></a
    >
  </article>
  <article class="image-container">
    <a
      href="https://www.instagram.com/colada_archive?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
      ><img src="pics/insta6.webp" alt="insta" class="image-normal" />
      <img src="pics/hoverinstagram.webp" alt="hover" class="image-hover" /></a
    >
  </article>
  <article class="image-container">
    <a
      href="https://www.instagram.com/colada_archive?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
      ><img src="pics/insta7.webp" alt="insta" class="image-normal" />
      <img src="pics/hoverinstagram.webp" alt="hover" class="image-hover" /></a
    >
  </article>
  <article class="image-container">
    <a
      href="https://www.instagram.com/colada_archive?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
      ><img src="pics/insta8.webp" alt="insta" class="image-normal" />
      <img src="pics/hoverinstagram.webp" alt="hover" class="image-hover" /></a
    >
  </article>
  <article class="image-container">
    <a
      href="https://www.instagram.com/colada_archive?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
      ><img src="pics/insta9.webp" alt="insta" class="image-normal" /></a
    >
    <img src="pics/hoverinstagram.webp" alt="hover" class="image-hover" />
  </article>
</section>

<style>
  .insta_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: 10px;
  }

  .image-container {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  .image-container img {
    width: 100%;
    height: auto;
    display: block;
    transition: opacity 0.5s ease;
  }

  .image-hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .image-container:hover .image-hover {
    opacity: 1;
  }
  @media (min-width: 800px) {
    .insta_grid {
      margin: 0 14.5% 5rem 14.5%;
    }
  }
</style>
