---

---

<div class="journal_grid">
    <div class="grid_1"><img src="pics/pop_up.png" alt="Billede af pop up">
        <h2>Pop up</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam aliquam dapibus lorem.</p>
    </div>

<div class="grid_1">
    <img src="pics/cofounders.png" alt="Billede af co-founders">
<h2>cofounders</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam aliquam dapibus lorem.</p>
</div>
</div>


<style>
    .journal_grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

  p {
        margin-bottom: 50px;
    }

    @media (min-width: 800px){

.grid_1 img {
height: 700px;
}

.journal_grid {
    gap: 30px;
}
    }

</style>