---

---


    <div class="scroll-container">
        <img src="pics/colada.png" alt="Billede af logo 1" class="scroll-image from-left">
    </div>

    <div class="scroll-container1">
    <img src="pics/archive.png" alt="Billede af logo 2" class="scroll-image from-right">
</div>

<style>


.scroll-container, .scroll-container1 {
    position: relative;
    width: 100%;
    height: 100px;
    overflow: hidden;
}

.scroll-container {
    margin-top: 200px;
}
.scroll-container1 {
    margin-bottom: 50px;
}

.scroll-image {
    position: absolute;
    width: 50%;
    height: 100%;
    transition: transform 1s ease; /* Tilføj en overgang for en glat bevægelse */
    transform: translateX(-100%); /* Startposition uden for synsfeltet */
}

.from-left {
    left: -200px;
    z-index: 2; /* Sørg for, at det første billede ligger over det andet */
}

.from-right {
    right: -200px;
    z-index: 1; /* Sørg for, at det andet billede ligger under det første */
}
</style>

<script>
let lastScrollTop = 0;

window.addEventListener("scroll", function() {
    var scrollPosition = window.scrollY;
    var scrollCenter = window.innerHeight / 2;

    var scrollImages = document.querySelectorAll('.scroll-image');

    scrollImages.forEach(function(image) {
        var imagePosition = image.getBoundingClientRect().top;
        var imageCenter = imagePosition + image.offsetHeight / 2;

        var translateValue = (scrollPosition - imageCenter) / 4; // Juster her for at ændre bevægelseshastigheden

        if (Math.abs(translateValue) < window.innerWidth / 2) {
            if (scrollPosition > lastScrollTop) {
                // Scroll down
                if (image.classList.contains('from-left')) {
                    image.style.transform = "translateX(" + translateValue + "px)";
                } else {
                    image.style.transform = "translateX(-" + Math.abs(translateValue) + "px)";
                }
            } else {
                // Scroll up
                if (image.classList.contains('from-left')) {
                    image.style.transform = "translateX(-" + Math.abs(translateValue) + "px)";
                } else {
                    image.style.transform = "translateX(" + translateValue + "px)";
                }
            }
        } else {
            // Hide images when out of view
            image.style.transform = "translateX(-100%)";
        }
    });

    lastScrollTop = scrollPosition;
});
</script>